@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rent A Car</h1>
    <p class="lead">Search,Compare and Save </p>
    <p><a href="https://localhost:44361/Cars" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Car renting</h2>
        <p>
            We give 20% of discount to every 5th client.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44361/Cars">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ford</h2>
        <p>Rent a ford and you will get extra discount.</p>
        <p><a class="btn btn-default" href="https://localhost:44361/Rentals/New">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Insurance</h2>
        <p> You can book by phone.</p>
        <p><a class="btn btn-default" href="https://localhost:44361/Cars">Learn more &raquo;</a></p>
    </div>
</div>